{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-dismissible alert-danger">
    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div class="container" style="width: 300px;">

    <div id="result"></div>

    <form action="#" method="post">
        <div class="form-group">
            <h2>Login</h2>
            <label for="inputName" class="sr-only">User Name</label>
            <input class="form-control" name="name" type="name" placeholder="User Name" required autofocus>

            <label for="inputEmail" class="sr-only">Email address</label>
            <input class="form-control" name="email" type="email" placeholder="Email address" required>
            <button class="btn btn-primary btn-block" type="submit">Login</button>
        </div>
    </form>

    <!--
      <a class="btn btn-block btn-social btn-google">
        <span class="fa fa-google"></span> Sign in with Twitter
      </a>

      <a class="btn btn-block btn-social btn-facebook">
        <span class="fa fa-facebook"></span> Sign in with Twitter
      </a>
    -->

    <!-- GOOGLE PLUS SIGN IN BUTTON-->
    <div id="signinButton">
    <span class="g-signin"
          data-scope="openid email"
          data-clientid="264013908929-ejrhhpu61jnkdge6oicvdai1o54lt8m2.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback"
          data-approvalprompt="force">
    </span>
    </div>

    <!-- FACEBOOK SIGN IN BUTTON-->
    <fb:login-button size="large" scope="public_profile,email" onlogin="sendTokenToServer();">
        <a href='javascript:sendTokenToServer()'>
            <span class="fa fa-facebook"></span> Login in with Facebook
        </a>
    </fb:login-button>

</div>

<!-- GOOGLE PLUS SIGN IN -->
<script>
function signInCallback(authResult) {
  if (authResult['code']) {
    // Hide the sign-in button now that the user is authorized
    $('#signinButton').attr('style', 'display: none');
    // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
    $.ajax({
      type: 'POST',
      url: '/gconnect?state={{STATE}}',
      processData: false,
      data: authResult['code'],
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
              setTimeout(function() {
              window.location.href = "/shops";
            }, 4000);
        } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
        } else {
          $('#result').html('Failed to make a server-side call. Check your configuration and console.');
        }
      }
    }); 
  } 
}

</script>
<!--END GOOGLE PLUS SIGN IN BUTTON -->

<!--FACEBOOK SIGN IN -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
    appId      : '1403436383039787',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
    }); 
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      $.ajax({
        type: 'POST',
        url: '/fbconnect?state={{STATE}}',
        processData: false,
        data: access_token,
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
              setTimeout(function() {
              window.location.href = "/shops";
            }, 4000);
          } else {
            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    });
  }

</script>
<!--END FACEBOOK SIGN IN -->

{% endblock %}