{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h2> Let's add your new item! </h2>

<form action="#" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" maxlength="50" class="form-control" name="name" placeholder="Name of your item">

        <label for="description">Description:</label>
        <textarea class="form-control" maxlength="250" rows="3" name="description"
                  placeholder="Description of your item"></textarea>

        <label for="price">Price:</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" name="category">
                <option value="Books">Books</option>
                <option value="Clothing">Clothing</option>
                <option value="Electronics">Electronics</option>
                <option value="Sports">Sports</option>
                <option value="Outdoors">Outdoors</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default" id="submit" type="submit"> Create
        </button>
    </div>
</form>

{% endblock %}

