body {
	font-family: 'Lato', sans-serif;
	color: #2d3c49;
	font-weight: 300;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
    height: 4px;
    border: none;
    background-color: #7d97ad;
}

.text-muted {
	color: #7d97ad;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}

.margin-left {
	margin-left: 10px;
}
